{extend name="base" /} {block name="body"}
<form class="layui-form form-container" data-url="{:url('admin/system/updatechangyan')}" localtion-url="{:url('system/siteConfig')}">

    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="layui-form-item">
                <label class="layui-form-label">APP ID</label>
                <div class="layui-input-inline">
                    <input type="text" name="changyan[appid]" value="{$changyan.appid|default=''}" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">APP Key</label>
                <div class="layui-input-block">
                    <input type="text" name="changyan[appkey]" value="{$changyan.appkey|default=''}" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
        </div>
    </div>
    <div class="formbtngroup">
        <button id="creatlink" class="layui-btn layui-btn-sm" lay-submit="" type="submit" lay-filter="formadd">保存</button>
        <button onclick="history.go(-1);return false;" class="layui-btn layui-btn-primary layui-btn-sm">返回</button>
    </div>
</form>

{/block} {block name="js"}
<script type="text/javascript" src="__ADMIN__/js/formadd.js"></script>

{/block}